@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<p>HttpContext.Request.Body: @HttpContext.Request.Body</p>
<p>HttpContext.Request.ContentLength: @HttpContext.Request.ContentLength</p>
<p>HttpContext.Request.ContentType: @HttpContext.Request.ContentType</p>
<p>HttpContext.Request.Cookies: @HttpContext.Request.Cookies</p>
<p>HttpContext.Request.HasFormContentType: @HttpContext.Request.HasFormContentType</p>
<p>HttpContext.Request.Headers: @HttpContext.Request.Headers</p>
<p>HttpContext.Request.Host: @HttpContext.Request.Host</p>
<p>HttpContext.Request.HttpContext: @HttpContext.Request.HttpContext</p>
<p>HttpContext.Request.IsHttps: @HttpContext.Request.IsHttps</p>
<p>HttpContext.Request.Method: @HttpContext.Request.Method</p>
<p>HttpContext.Request.Path: @HttpContext.Request.Path</p>
<p>HttpContext.Request.PathBase: @HttpContext.Request.PathBase</p>
<p>HttpContext.Request.Protocol: @HttpContext.Request.Protocol</p>
<p>HttpContext.Request.Query: @HttpContext.Request.Query</p>
<p>HttpContext.Request.QueryString: @HttpContext.Request.QueryString</p>
<p>HttpContext.Request.Scheme: @HttpContext.Request.Scheme</p>
